= link_to user.name, user, class: 'item_for_index'
- if user.id == current_user.id
  = "-> (You)"
- else
  - if user.team_id.nil? && !current_user.team_id.nil?
    - if !already_invited?(user, get_team(current_user))
      = "-> (Available to recruit to team)"
    - else
      = "-> (Already invited to team)"
