%h1
  Friends
- if @friends.empty?
  You don't have any friends
- else
  = will_paginate @friends
  %ul
    - @friends.each do |friend|
      %li
        = link_to friend.name, friend, class: 'item_for_index'
        = link_to image_tag('message_icon.jpeg',width: '30px', alt: 'Chatroom'), chatroom_friendship_path(current_user.friendship(friend))
  = will_paginate @friends
