- if object.errors.any?
  %div{:id => 'error-explanations'}
    %div{:class => 'alert alert-danger'}
      The form contains
      = pluralize(object.errors.count, 'error')
    %ul
      -object.errors.full_messages.each do |error_message|
        %li
          = error_message
