= link_to "Accept", accept_friend_request_path(:request_id => friend_request.id), class: 'btn btn-primary gray_button'
= link_to "Reject", reject_friend_request_path(:request_id => friend_request.id), class: 'btn btn-primary gray_button'
