@import "bootstrap-sprockets";
@import "bootstrap";
body{
  padding-top: 70px
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.debug_dump {
  clear: both;
  float: left;
  margin-top: 45px;
  @include box_sizing;
}

.match {
  width: auto;
  border: 1px solid black;
  .winner {
    color: green
  }
  .score {
    font-weight: bold;
    font-size: 25px;
  }
}
.declare_winner_text{
  font-weight: bold;
  font-size: 25px;
  color: darkgoldenrod;
}
.right{
  float: right
}
.round_name{
  font-weight: bold;
  font-size: 25px;
}
.center_vertically{
  align-self: center;
}
.nice_gray{
  color: #B4AAA3
}
.size20{
  font-size: 20px;
}
.dropdown-menu{
  background-color: #2E2F30;
  color: #999999;
}
.gray_button{
  background-color: #2E2F30;
  &:hover{
    background-color: #B4AAA3;
  }
}
.item_for_index{
  color: #2E2F30;
  font-size: 20px;
}
.team{
  color: #999999;
}
.pagination{
  font-size: 20px;
  text-align: center;
  .disabled{
    color: #aaaaaa
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #aaaaaa;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    border-radius: 1em;
  }
  a {
    color: #2E2F30;
    &:hover{
      font-weight: bold;
      text-decoration: underline;
    }
    &:focus {
      font-weight: bold;
      text-decoration: underline;
    }
  }
}
.checkbox{
  accent-color: #2E2F30;
}
.messages{
  flex-direction: column;
  display: flex;
  width: auto;
  .message_sent{
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    align-self: end;
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
  }
  .message_received{
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    align-self: start;
    border: 2px solid #ccc;
    background-color: #ddd;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
  }
  .date{
    align-self: end;
  }
}
.form-inline{
  .send_message_content_field{
    width: 90%;
  }
}
